    .table{
        border-collapse: collapse;
    }
    .table, tr td { 
        border:1px solid #ccc; 
        padding: 5px 10px;
    }
    p {
        color:#ff0000;
    }

    body {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
